{{#if isSecondary}}
    
         {{!-- Styling for Social Links using Fontawesome  --}}
        {{#foreach navigation}}

             
        
        {{/foreach}}

{{else}}
   
    {{!--  Main Navigation --}}
    <div class="main-menu container">
         <nav class="row">
            <div class="col-md-11">                 
            <ul class="menu-list">
                    {{#foreach navigation}}
                        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}
                                          
              </ul>
            </div>

           {{!-- Theme Switch --}}
            <div class="settings-switch col-md-1">
               <span class="settings-items">
                 <label class="switch">
                    <input id="theme-switch" type="checkbox">
                    <span class="slider">
                        <i class="fas fa-sun"></i>
                        <i class="fas fa-moon"></i>
                    </span>
                 </label>
               </span> 
            </div>
             
        </nav>
    </div>
{{/if}}