<!-- Your commenting service 
<script src='https://utteranc.es/client.js'
        repo='macntech/macandtech'
        issue-term='title'
        label='💬 comment'
        theme='preferred-color-scheme'
        crossorigin='anonymous'
        async>   
</script>-->
<h4>Comment</h4>
<div id="cusdis_thread"
  data-host="https://comment-macandtech.vercel.app"
  data-app-id="e8b94f71-b7a7-4c06-a82f-e44567238ee2"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script async defer src="https://comment-macandtech.vercel.app/js/cusdis.es.js"></script>