<!doctype html>
<html lang="{{@site.locale}}">

    <head>
        {{!-- SCRIPTS AND CSS --}} 
        {{> "head"}}
    </head>

    <body data-theme="light line-numbers">
    
    <div id="main-content container-fluid boxed-layout" data-barba="wrapper"> 

        {{!-- Include Header with Navigation and Title--}} 
        {{> "header"}}

        {{!-- Include Body #page, #post or #index --}} 
        {{{body}}}
    
    </div>
    {{> "footer"}}
    {{!-- Dynamic footer content from code injection etc before scripts to use injected code--}}
    {{ghost_foot}}


    {{> "modals"}}
    {{!-- JAVASCRIPT --}} 
    {{> "scripts"}}
    
    </body>
</html>