//Color Sets for light and dark theme

$light-color-bg: #FBF0DA;
$light-color-primary:#A9A9A9;
$light-color-secondary: #EEEEEE;
$light-color-font: #000000;
$light-color-headline: #0C5476;
$light-color-title: #761E36;
$light-color-highlight: #0E4753;
$light-color-link-hover: #761E36;


$dark-color-bg: rgba(33, 33, 33, 1.0);
$dark-color-primary:#A9A9A9;
$dark-color-secondary: #696969;
$dark-color-font: #EEEEEE;
$dark-color-headline: #779699;
$dark-color-title: #761E36;
$dark-color-highlight: #699A84;
$dark-color-link-hover: #761E36;


$grey-0:          #EEEEEE; // HTML White Smoke
$grey-1:          #D3D3D3; // HTML Light Grey
$grey-2:          #A9A9A9; // HTML Dark Grey
$grey-3:          #808080; // HTML Grey

//Bootstrap Color Theme - Set Bootstrap Default values if not set in config.toml
$primary:   #000000;
$secondary: #6c757d;
$light:     #f8f9fa;
$dark:      #343a40;


//FONTS
@font-face{
  font-family: 'Merriweather R';
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf") format('truetype');
}

@font-face{
  font-family: 'Libre Regular';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format('truetype');
}

@font-face{
  font-family: 'Libre Bold';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format('truetype');
}


@font-face{
    font-family: 'Merriweather L';
    src: url("../fonts/Merriweather/Merriweather-Light.ttf") format('truetype');
  }


@font-face{
    font-family: 'Montserrat M';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
  }

@font-face{
    font-family: 'Montserrat B';
    src: url("../fonts/Montserrat/Montserrat-Black.ttf") format('truetype');
}

@font-face{
  font-family: 'Montserrat SB';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face{
  font-family: 'Montserrat R';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

 @font-face{
    font-family: 'FontAwesome';
    src: 
      url("../fonts/webfonts/fa-brands-400.ttf") format('truetype');
  }

$font-standard: 'Libre Regular'; //Serif Font
$font-standard-ns: 'Montserrat R'; //Non Serif Font
$font-title: 'Montserrat B';
$font-subtitle: 'Montserrat SB';
$font-headlines: 'Montserrat M';
$font-fontawesome: 'FontAwesome';

$font-size-0: 0.5rem; 
$font-size-1: 0.75rem; 
$font-size-2: 1rem;
$font-size-3: 1.25rem; 
$font-size-4: 1.5rem;
$font-size-5: 2rem;