.post {
    padding: 10px;
}

.post img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #A6A7A1;
}

.post figcaption{
    margin-top:5px;
    margin-bottom: 5px;
    font-style:italic;
    font-size: $font-size-1;
}

.post-meta {
    color:var(--color-highlight);
    font-family: $font-standard-ns;
    padding-right: 40px;
}

.post-content {
    margin-top:2rem;
}

.post-content p, .post-excerpt p{
    font-family: $font-standard;
}

.post-content p:first-child:first-letter {
    float:left;
    font-size: 4rem;
    padding-right: 8px;
    margin-top: -1rem;
}

.post-footer {

    &-tags, &-socials, &-comments {
        margin-bottom: 10px;
    }
}

.timeline-header, .avatar {
    display: none !important;
}

.comment {
    background-color: var(--color-comment) !important;

}


/********************* Related Posts ************************/

.splide {
    height: 150px;
    text-align: center;
    vertical-align: middle;

}

.post-related-card {
    height: 130px;
    background-color: var(--color-comment);
    padding-top: 30px;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    overflow-wrap: break-word;
    /* text-align: center; */
}

.post-related-card p{

}

.post-related-card img{
    
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      
}