/********************* GENERAL STYLES ************************/

body {
    margin: 0;
    padding: 50px 0 0;
    background: var(--color-bg);
    overflow-x: hidden;
    font-family: $font-standard;
    font-size: $font-size-2;
    color: var(--color-font);
  }

.boxed-layout {
    max-width:850px;
}

.container {
    max-width: 1000px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-standard;
}

.justify {
  text-align: justify;
}

.gh-post-upgrade-cta-content{
  background-color: var(--color-title) !important
}

.bullbutton{
  background-color: var(--color-button);
  color: #ffffff;
  font-family: $font-standard-ns;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: none;
}

/********************* HEADER ************************/

.header-logo-bar{
    margin-bottom: 20px;
    margin-top: 10px;
}

.header-description {
    margin-top:15px;
    font-family: $font-headlines;
    font-weight:200;
    color: var(--color-font);
    font-size: 1.1rem;
}

.title, .subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title {
  font-family: $font-title;
  line-height: 2.5rem;
  color: var(--color-title);
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.subtitle {
  font-family: $font-subtitle;
  line-height: 2.5rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}


/********************* INDEX ************************/

.index-post-meta {
  color:var(--color-highlight);
  float: left;
  padding-right: 40px;
  font-size: 1.2rem;
  padding-bottom: 5px;

}

.index-post-meta i{
font-style: normal !important; 
}

.link-badge {text-decoration:none;}
.link-writings {text-decoration:none;}


.navbar-light .navbar-nav .nav-link:hover{
color:var(--color-highlight);
}


ul.index-tags-cloud {
  
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

ul.index-tags-cloud a{

  display: block;
  font-family: $font-standard-ns;
  padding: 0.2rem 0.25rem;
  position: relative;
  text-decoration: none;
}
