/********************* GENERAL STYLES ************************/

body {
    margin: 0;
    padding: 50px 0 0;
    background: var(--color-bg);
    overflow-x: hidden;
    font-family: $font-standard;
    font-size: $font-size-2;
    color: var(--color-font);
  }

.boxed-layout {
    max-width:850px;
}

.container {
    max-width: 1000px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-standard;
}

.justify {
  text-align: justify;
}

.gh-post-upgrade-cta-content{
  background-color: var(--color-title) !important
}

.bullbutton{
  background-color: var(--color-button);
  color: #ffffff;
  font-family: $font-standard-ns;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: none;
}

/********************* HEADER ************************/

.header-logo-bar{
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-description {
    margin-top:15px;
    font-family: $font-headlines;
    font-weight:200;
    color: var(--color-font);
    font-size: 1.1rem;
}

.title, .subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title {
  font-family: $font-title;
  line-height: 2.5rem;
  color: var(--color-title);
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.subtitle {
  font-family: $font-subtitle;
  line-height: 2.5rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}


/********************* INDEX ************************/

.index-post-meta {
  color:var(--color-highlight);
  float: left;
  padding-right: 40px;
}

.index-post-meta i{
font-style: normal !important;
}

.link-badge {text-decoration:none;}
.link-writings {text-decoration:none;}


.navbar-light .navbar-nav .nav-link:hover{
color:var(--color-highlight);
}


ul.index-tags-cloud {
  
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

ul.index-tags-cloud a{

  display: block;
  font-family: $font-standard-ns;
  padding: 0.2rem 0.25rem;
  position: relative;
  text-decoration: none;
}


/********************* MODAL BOX SETTINGS ************************/


.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  min-width: 300px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}


.modal__content {
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@keyframes mmfadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
display: none;
}

.micromodal-slide.is-open {
display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
will-change: transform;
}
